* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    transition: all .3s;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px 5%;
}

.carousel-container {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  z-index: 0;
}

/* hide the images by default */

.slides {
  display: none;
}

.slides img {
  display: block;
  width: 100%;
  height: auto;
}

/* next & prev buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0px 8px 8px 0px;
  background: rgba(173,216,230,.1);
  user-select: none;
}

.next {
  right: 0;
  border-radius: 8px 0px 0px 8px;
}

.prev:hover,
.next:hover {
  background-color: rgba(173,216,230,.3);
}

/* caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(10,10,20,.1);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173,216,230,.15);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

/* the dots/bullets/indicators */
.dots {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 0px 4px;
  background-color: rgba(173,216,230,.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-colo .3s ease;
}

.active,
.dots:hover {
  background-color: rgba(173,216,230,.8);
}

/* transition animation */
.animate {
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }

  to {
    transform: scale(1) rotateY(0deg);
  }
}